* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.header-outer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 3rem 0 1rem 0;
	width: 100vw;
	background: #f23f3f;
	background: linear-gradient(90deg, rgb(255, 128, 0), crimson);
	.header-content {
		display: flex;
		gap: 1rem;
		height: 300px;
		padding: 1rem;
		background-color: white;
		.content-left {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-left: 1rem;
			width: 45%;
			border-radius: 10px;
			background-color: crimson;
			color: white;

			h1 {
				font-size: 6rem;
				line-height: 5rem;
			}

			p {
				font-size: 1.15rem;
				padding-left: 5px;
			}
		}

		.content-right {
			width: 100%;
			border-radius: 10px;
			box-shadow: 0 0 5px black;
		}
	}
	nav {
		display: flex;
		justify-content: space-between;
		width: 100%;
		.sm-icons {
			display: flex;
			align-items: center;
			gap: 1rem;
			padding: 0 1rem;
			color: white;
		}
		.navigation {
			display: flex;
			align-items: center;
			gap: 1rem;
			padding: 0 1rem;
			color: white;
			ul {
				display: flex;
				gap: 1rem;
				li {
					list-style-type: none;
				}
			}
			.header-search {
				display: flex;
				align-items: center;
				gap: 1rem;

				input {
					border: none;
					border-radius: 5px;
					padding: 0.5rem 1rem;
				}

				button {
					padding: 0.5rem 1rem;
					border: none;
					border-radius: 5px;
					background-color: rgb(255, 128, 0);
					color: white;
				}
			}
		}
	}
}
