@import "@fontsource/inter/100.css";
@import "@fontsource/inter/200.css";
@import "@fontsource/inter/300.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/600.css";

:root {
	--primary-color-dark: #0d0e18;
	--primary-color-dark-transparent: #0d0e1822;
	--primary-color: #0e163a;
	--accent-color: #1778c7;
	--highlight-color: #2fc3ff;
	--text-color: #e1ecf9;
	--font-base: "Inter", sans-serif;
	--text-size: 1.2rem;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	color: var(--text-color);
	line-height: 1.5;
	overflow-x: hidden;
	background-color: var(--primary-color-dark);
	padding-top: calc(2rem + 50px);
	letter-spacing: 1px;
}
// body,
// .noflow {
// 	overflow-y: hidden;
// }
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 200;
}

p,
a,
span {
	font-size: var(--text-size);
	font-weight: 200;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2.2rem;
}

h4,
h5,
h6 {
	font-size: 2rem;
}

a {
	color: white;
	text-decoration: none;
}

li {
	list-style-type: none;
}

.outer {
	width: 100vw;
}

// .inner {
// 	margin: 0 auto;
// 	@media (width > 1440px) {
// 		max-width: 1440px;
// 	}
// }

.flex {
	display: flex;
}

.rel {
	position: relative;
}

.abs {
	position: absolute;
}

.mt1 {
	margin-top: 0.5rem;
}

.mt2 {
	margin-top: 1rem;
}
