.header-wrapper {
	position: fixed;
	top: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	padding: 2rem;
	background-color: var(--primary-color-dark);
	z-index: 10;
	box-shadow: 0 0 15px -7px var(--highlight-color);
	.menu-icon {
		display: flex;
		align-items: center;
		padding: 1rem;
		img {
			height: 1.5rem;
		}
	}
	nav {
		display: none;
		align-items: center;
		ul {
			display: flex;
			gap: 1rem;
		}
	}
	.nav-login {
		display: none;
		align-items: center;
		padding: 1rem;
		svg {
			height: 1.2rem;
		}
	}
	.burger-menu {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 5px;
		padding: 1rem;
		z-index: 11;
		cursor: pointer;
		div {
			width: 25px;
			height: 2px;
			background-color: black;
			transition: all 0.2s ease-in-out;
		}

		&.merge {
			.burger-top {
				transform: translateY(7px);
			}
			.burger-middle {
				opacity: 0;
			}
			.burger-bottom {
				transform: translateY(-7px);
			}
		}
		&.cross {
			.burger-top {
				transform: translateY(7px) rotate(45deg);
			}
			.burger-middle {
				opacity: 0;
			}
			.burger-bottom {
				transform: translateY(-7px) rotate(-45deg);
			}
		}
	}
}
.mobile-nav {
	position: absolute;
	top: 0;
	right: -85vw;
	width: 80vw;
	height: 100vh;
	padding: 60px 0 0 1rem;
	box-shadow: 0 0 5px black;
	backdrop-filter: blur(10px);
	z-index: 10;
	transition: all 0.4s ease-in-out;
	&.mobile-menu-visible {
		right: 0;
	}
	nav {
		ul {
			li {
				width: fit-content;
				a {
					font-size: 1.5rem;
					font-weight: 400;
				}
			}
		}
	}
}
.link-underline {
	width: 0;
	height: 2px;
	background-color: var(--highlight-color);
	transition: all 0.2s ease-in-out;
}

.link-active,
.link:hover {
	.link-underline {
		width: 100%;
	}
}

@media (width > 769px) {
	.header-wrapper {
		nav {
			display: flex;
		}
		.nav-login {
			display: flex;
		}

		.burger-menu {
			display: none;
		}
	}
}
